:root 
{
	--primary-color-dark: #162f35;
    --secondary-color-light: #82cef1;

	--secondary-color: #ffffff;

    --border-style: solid;
    --font-new: 'Aldrich';
    --font-style: 'normal';
}

*{
    font-family: var(--font-new);
    font-style: var(--font-style);
    box-sizing: border-box;
    top:0;
    left:0;
}


#themeDropdown{
    padding:1%;
    margin-top: 2%;
    margin-left: 5%;
    width: 40%;
    background-color: var(--secondary-color-light);
    color: var(--primary-color-dark);
}
#themeDropdown:hover{
    background-color: var(--primary-color-dark);
    color: var(--secondary-color-light);
}

label{
     color: var(--secondary-color-light);
}

#header{
    background-color: var(--primary-color-dark);
    border-bottom: 1px var(--border-style) var(--secondary-color);
}
#header-content{
    margin-left:2%;
}

#header h1{
    color: var(--secondary-color-light);
    font-weight:700;
    font-size: 2rem;
}

#header p{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
}

.icon{
    float:left;
    padding: 2px;
    margin-right: 5px;
}

#content{
    /* background: rgba(0, 0, 0, 0.7); */
    padding: 1rem;
    padding-bottom: 15%;
}

.search-wrapper{
    flex-direction: column;
}

.search-wrapper label{
    font-size: 2rem;
}
.search-wrapper input{
    width: 50%;
    border: 5px solid var(--primary-color-dark);
    background-color: var(--secondary-color-light);
    text-align: center;
    margin:1%;
    border-radius: 5px;
}
.search-wrapper input:hover{
    background-color: var(--primary-color-dark);
    color: var(--secondary-color-light);
}
.buttons{
    margin: 1% auto 1% auto;
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important; 
}

.card{
    color:var(--primary-color-dark);
    padding: 2%;
    border-radius: 2%;;
    border: 1px var(--border-style) var(--primary-color-dark);
}

.card:hover{
    background-color: var(--secondary-color-light);
}

.card img{
    border-radius: 2%;;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
}

.data{
    display: inline-flex;
}

.footer {
    border-top: 1px var(--border-style) var(--secondary-color);
    position: fixed;
    top: 87%;
    width: 100%;
    background-color: var(--primary-color-dark); 
    padding: 1.5% 0;
}
.social-icons {
    text-decoration: none;
	font-size: 1em;
    
}
.social-icons a{
    color:var(--secondary-color-light);
    margin: 1% 2% 3% 2% ;
}
#copyright{
    font-size: 1em;
    margin-left: 35%;
    color: var(--secondary-color);
    align-content: center;
}
.social-icons a i{
    color: var(--secondary-color);
}
/**/
#overlay{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	z-index: -1;
}

#video 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 

}

#image 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;  

}


